body { 
  font-family: magallanes, sans-serif;
  text-align: center; 
  background-image: url(../media/dsc_5571.jpg);
  background-size: cover;
  margin-top: 24px;  
  margin-bottom: auto; 
}

h1 {
  font-size: 2.12em;
  color: rgb(65, 18, 47);
  line-height: .05em;
  padding-top: .05em;
  padding-bottom: .05em;
  padding-left: .45em;
}
